git+https://github.com/enthought/traits.git#egg=traits
git+https://github.com/enthought/traitsui.git#egg=traitsui
git+https://github.com/enthought/apptools.git#egg=apptools
git+https://github.com/enthought/sectiondoc.git@8a0c2be#egg=sectiondoc
git+https://github.com/enthought/trait-documenter.git#egg=trait-documenter
mock
